body {
  background-color: #130d26;
  /* background-image: url("./pexels-josh-hild-3229916.jpg"); */
  /* background-size: contain; */
  margin: 0;
  padding: 0;
}

.content {
  box-shadow: 0 0 3px 2px #29a633;
  flex-basis: 70%;
  width: 70%;
  margin-top: 4vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1em;
  overflow-y: scroll;
  height: 60vh;
}

.content > .result {
  flex-basis: 100%;
  margin-left: 1em;
  margin-right: 1em;
}

.content > *:first-child {
  margin-top: 1em;
}

.content > *:last-child {
  margin-bottom: 5em;
}

.body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  margin-top: 5vh;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.result {
  padding: 2em 1.25em;
  border-image-outset: 0;
  border-image-repeat: round;
  border-image-slice: 10;
  border-image-width: 1em;
  border-image-source: repeating-linear-gradient(135deg, rgb(255, 48, 48) 0em, rgb(255, 48, 48) 0.3em, rgba(204, 38, 38, 0.8) 0.31em, rgba(204, 38, 38, 0.8) 0.39em, rgb(255, 255, 255) 0.4em, rgb(255, 255, 255) 0.89em, rgb(255, 48, 48) 0.91em, rgb(255, 48, 48) 0.1em 1em);
  box-shadow: inset 0 0 6px 1em #130d26;
  background-color: #efb7a9;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.result p, .result h1 {
  margin: 0;
}

.s {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  filter: blur(1px);
  transform: scaleZ(0.3);
}

@keyframes snowfall {
  0% {
    transform: translate(var(--left-ini), 0);
  }
  100% {
    transform: translate(var(--left-end), 110vh);
  }
}
.s:nth-child(1) {
  --size: 0.5em;
  --left-ini: -9vw;
  --left-end: -4vw;
  left: 79vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -4s;
}

.s:nth-child(2) {
  --size: 0.5em;
  --left-ini: 1vw;
  --left-end: -2vw;
  left: 54vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -9s;
}

.s:nth-child(3) {
  --size: 0.5em;
  --left-ini: -3vw;
  --left-end: 9vw;
  left: 74vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -6s;
}

.s:nth-child(4) {
  --size: 0.5em;
  --left-ini: 6vw;
  --left-end: 3vw;
  left: 86vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -10s;
}

.s:nth-child(5) {
  --size: 0.15em;
  --left-ini: -8vw;
  --left-end: 2vw;
  left: 32vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -7s;
}

.s:nth-child(6) {
  --size: 0.25em;
  --left-ini: 9vw;
  --left-end: 1vw;
  left: 83vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -9s;
}

.s:nth-child(7) {
  --size: 0.45em;
  --left-ini: 3vw;
  --left-end: -4vw;
  left: 42vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -2s;
}

.s:nth-child(8) {
  --size: 0.15em;
  --left-ini: -1vw;
  --left-end: -4vw;
  left: 83vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -10s;
}

.s:nth-child(9) {
  --size: 0.25em;
  --left-ini: 4vw;
  --left-end: 7vw;
  left: 45vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -2s;
}

.s:nth-child(10) {
  --size: 0.2em;
  --left-ini: 9vw;
  --left-end: -1vw;
  left: 34vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -10s;
}

.s:nth-child(11) {
  --size: 0.5em;
  --left-ini: 3vw;
  --left-end: 0vw;
  left: 37vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -10s;
}

.s:nth-child(12) {
  --size: 0.15em;
  --left-ini: -2vw;
  --left-end: -9vw;
  left: 3vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -10s;
}

.s:nth-child(13) {
  --size: 0.45em;
  --left-ini: 0vw;
  --left-end: 8vw;
  left: 23vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -8s;
}

.s:nth-child(14) {
  --size: 0.4em;
  --left-ini: 7vw;
  --left-end: -4vw;
  left: 87vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}

.s:nth-child(15) {
  --size: 0.3em;
  --left-ini: 8vw;
  --left-end: -5vw;
  left: 67vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -5s;
}

.s:nth-child(16) {
  --size: 0.25em;
  --left-ini: -4vw;
  --left-end: -1vw;
  left: 90vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -3s;
}

.s:nth-child(17) {
  --size: 0.4em;
  --left-ini: -1vw;
  --left-end: 0vw;
  left: 54vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -2s;
}

.s:nth-child(18) {
  --size: 0.4em;
  --left-ini: -5vw;
  --left-end: 4vw;
  left: 19vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -7s;
}

.s:nth-child(19) {
  --size: 0.35em;
  --left-ini: -7vw;
  --left-end: -7vw;
  left: 65vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -10s;
}

.s:nth-child(20) {
  --size: 0.15em;
  --left-ini: 3vw;
  --left-end: 1vw;
  left: 53vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -3s;
}

.s:nth-child(21) {
  --size: 0.15em;
  --left-ini: 10vw;
  --left-end: 8vw;
  left: 25vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -8s;
}

.s:nth-child(22) {
  --size: 0.5em;
  --left-ini: 1vw;
  --left-end: 7vw;
  left: 100vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -1s;
}

.s:nth-child(23) {
  --size: 0.4em;
  --left-ini: -5vw;
  --left-end: -2vw;
  left: 73vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -10s;
}

.s:nth-child(24) {
  --size: 0.2em;
  --left-ini: 2vw;
  --left-end: 6vw;
  left: 93vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -5s;
}

.s:nth-child(25) {
  --size: 0.35em;
  --left-ini: 3vw;
  --left-end: -7vw;
  left: 32vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -5s;
}

.s:nth-child(26) {
  --size: 0.5em;
  --left-ini: -4vw;
  --left-end: 3vw;
  left: 38vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -10s;
}

.s:nth-child(27) {
  --size: 0.5em;
  --left-ini: -1vw;
  --left-end: 5vw;
  left: 92vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -7s;
}

.s:nth-child(28) {
  --size: 0.2em;
  --left-ini: 5vw;
  --left-end: -7vw;
  left: 82vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -10s;
}

.s:nth-child(29) {
  --size: 0.3em;
  --left-ini: -3vw;
  --left-end: 4vw;
  left: 83vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -7s;
}

.s:nth-child(30) {
  --size: 0.4em;
  --left-ini: 8vw;
  --left-end: -3vw;
  left: 67vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -7s;
}

.s:nth-child(31) {
  --size: 0.3em;
  --left-ini: -4vw;
  --left-end: 10vw;
  left: 7vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -10s;
}

.s:nth-child(32) {
  --size: 0.2em;
  --left-ini: -2vw;
  --left-end: -6vw;
  left: 62vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -7s;
}

.s:nth-child(33) {
  --size: 0.25em;
  --left-ini: -5vw;
  --left-end: -1vw;
  left: 11vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -8s;
}

.s:nth-child(34) {
  --size: 0.25em;
  --left-ini: 3vw;
  --left-end: -5vw;
  left: 93vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -3s;
}

.s:nth-child(35) {
  --size: 0.25em;
  --left-ini: 4vw;
  --left-end: 2vw;
  left: 37vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -2s;
}

.s:nth-child(36) {
  --size: 0.3em;
  --left-ini: 8vw;
  --left-end: 0vw;
  left: 84vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -5s;
}

.s:nth-child(37) {
  --size: 0.5em;
  --left-ini: 2vw;
  --left-end: -9vw;
  left: 51vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -6s;
}

.s:nth-child(38) {
  --size: 0.35em;
  --left-ini: 3vw;
  --left-end: -4vw;
  left: 90vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -1s;
}

.s:nth-child(39) {
  --size: 0.4em;
  --left-ini: 2vw;
  --left-end: 2vw;
  left: 5vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -3s;
}

.s:nth-child(40) {
  --size: 0.25em;
  --left-ini: 9vw;
  --left-end: 2vw;
  left: 7vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -8s;
}

.s:nth-child(41) {
  --size: 0.2em;
  --left-ini: -4vw;
  --left-end: 3vw;
  left: 43vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -7s;
}

.s:nth-child(42) {
  --size: 0.45em;
  --left-ini: -8vw;
  --left-end: 4vw;
  left: 76vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -6s;
}

.s:nth-child(43) {
  --size: 0.3em;
  --left-ini: -8vw;
  --left-end: 5vw;
  left: 57vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -6s;
}

.s:nth-child(44) {
  --size: 0.3em;
  --left-ini: -8vw;
  --left-end: -1vw;
  left: 6vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -5s;
}

.s:nth-child(45) {
  --size: 0.2em;
  --left-ini: -4vw;
  --left-end: 6vw;
  left: 29vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -10s;
}

.s:nth-child(46) {
  --size: 0.3em;
  --left-ini: -2vw;
  --left-end: 9vw;
  left: 11vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -7s;
}

.s:nth-child(47) {
  --size: 0.15em;
  --left-ini: -2vw;
  --left-end: -8vw;
  left: 5vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -8s;
}

.s:nth-child(48) {
  --size: 0.5em;
  --left-ini: -6vw;
  --left-end: 2vw;
  left: 61vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -7s;
}

.s:nth-child(49) {
  --size: 0.5em;
  --left-ini: 7vw;
  --left-end: -4vw;
  left: 90vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -7s;
}

.s:nth-child(50) {
  --size: 0.45em;
  --left-ini: 4vw;
  --left-end: 1vw;
  left: 31vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -4s;
}

/*# sourceMappingURL=style.css.map */
